doctype html
html#yui_3_16_0_1_1497006844824_255.yui3-js-enabled
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='renderer', content='webkit')
    meta(name='applicable-device', content='pc')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(http-equiv='Cache-Control', content='no-transform')
    meta(name='application-name', content='美团网－吃喝玩乐全都有')
    meta(name='baidu-site-verification', content='TiWCN4h5v3')
    meta(name='description', content='广州摔跤吧！爸爸电影票团购,美团网汇集所有摔跤吧！爸爸影讯,广州摔跤吧！爸爸影评,摔跤吧！爸爸剧情等信息的广州电影票团购网.找广州摔跤吧！爸爸团购,尽在广州美团网.')
    meta(name='keywords', content='广州摔跤吧！爸爸电影票团购,摔跤吧！爸爸影讯,广州摔跤吧！爸爸影评,摔跤吧！爸爸剧情')
    link(rel='dns-prefetch', href='//c.meituan.net')
    link(rel='dns-prefetch', href='//s0.meituan.net')
    link(rel='dns-prefetch', href='//s1.meituan.net')
    link(rel='dns-prefetch', href='//p0.meituan.net')
    link(rel='dns-prefetch', href='//p1.meituan.net')
    link(rel='dns-prefetch', href='//analytics.meituan.net')
    link(rel='alternate', href='http://gz.meituan.com/feed', title='订阅更新', type='application/rss+xml')
    link(rel='apple-touch-icon', href='//s0.meituan.net/bs/file/?f=fewww:/www/img/apple-touch-icon-ipad.png@f49bb80')
    link(rel='shortcut icon', href='//p1.meituan.net/meismis/44f8f3736d61a550dc0fa7bc1a70b6056518.ico')
    link(rel='icon', href='//p1.meituan.net/meismis/44f8f3736d61a550dc0fa7bc1a70b6056518.ico', sizes='16x16 32x32')
    link(rel='canonical', href='http://www.meituan.com/dianying/588362')
    title 【广州摔跤吧！爸爸电影票团购】摔跤吧！爸爸影讯|影评|剧情_美团网
    script.
      (function(a,b){var c={exports:{}};c.exports;a[b]=c.exports;var d=c.exports;d.polyfill=function(a){var b=this.filter(this.detect(),a);a=[];for(var c in b)b.hasOwnProperty(c)&&b[c]&&a.push(c+".min.js");a.length&&this.request(a)},d.request=function(b){a.document.write(['<script src="',this.getUrl(b),'"></',"script>"].join(""))},d.getUrl=function(b){var c=this.config,d=a.location.protocol,e="https:"===d?c.httpsHost:c.httpHost;return d+"//"+e+c.publicPath+b.join(",")+"@v"+c.version},d.iev=function(){for(var b,c=3,d=a.document.createElement("div"),e=d.getElementsByTagName("i");d.innerHTML="<!--[if gt IE "+ ++c+"]><i></i><![endif]-->",e[0];);return c>4?c:b},d.detect=function(){var b=this.iev();return{promise:!("Promise"in a&&"resolve"in a.Promise&&"reject"in a.Promise&&"all"in a.Promise&&"race"in a.Promise&&function(){var b;return new a.Promise(function(a){b=a}),"function"==typeof b}()),pngfix:b&&7>b,html5:b&&9>b,es5:b&&9>b||"function"!=typeof Function.prototype.bind}},d.filter=function(a,b){if(!b||!b.length)return a;var c=!0,d=0;"!"===b[0]&&(c=!1,d=1);for(var e,f=c?{}:a,g=b.length;g>d;++d)e=b[d],a.hasOwnProperty(e)&&(f[e]=c&&a[e]);return f},c.exports.config={httpHost:"s0.meituan.net",httpsHost:"s0.meituan.com",publicPath:"/bs/jsm?f=polyfill:",version:"1.0.7"},c.exports.polyfill(c.polyfills)}).call(window,window,"Polyfill");
    script.
      var M = {}, _gaq = [], Y, _mbq = function () {
      (_mbq._q = _mbq._q || []).push(arguments);
      };
      (function (P) {"function"!=typeof Date.now&&(Date.now=function(){return(new Date).getTime()}),window.M=window.M||{},M.TimeTracker={start:Date.now(),reqtime:P.ts},M.DELTA_TIME=M.TimeTracker.reqtime-M.TimeTracker.start,M.Env={},M.subresources={names:[]},M.logFirstScreenTime=function(a){M.TimeTracker.fst=Date.now(),a&&a.src&&(M.subresources.names.push(a.src),M.subresources.lastImage=a.src,M.subresources.firstImage||(M.subresources.firstImage=a.src))},M.delayImg=function(a){var b=a.getAttribute("data-src");a.removeAttribute("data-src"),b&&window.setTimeout(function(){a.src=b},200)},M._autoinit=[];}).call(window, {"ts":1497006843000,"action":["movie","moviedetail"]});
    script(type='text/javascript').
      !(function (win, doc, ns) {
      var cacheFunName = '_MeiTuanALogObject';
      win[cacheFunName] = ns;
      if (!win[ns]) {
      var _LX = function () {
      _LX.q.push(arguments);
      return _LX;
      };
      _LX.q = _LX.q || [];
      _LX.l = +new Date();
      win[ns] = _LX;
      }
      })(window, document, 'LXAnalytics');
      LXAnalytics('set', 'uid', '');
    link(rel='stylesheet', type='text/css', href='//s0.meituan.net/bs/css/?f=fewww:/www/css/common.css,/www/css/base.css,/www/css/search-box.css,/www/css/cate-nav.css@f49bb80')
    link(rel='stylesheet', type='text/css', href='//s0.meituan.net/bs/css/?f=fewww:/www/css/filter.css,/www/css/movieinfo.css,/www/css/movie.css,/www/css/side.css,/www/css/deallist.css,/www/css/banner-index.css,/www/css/animate.css,/www/css/movie-navtab.css@f49bb80')
    noscript.J-hub(hidden='', style='display:none;', data-hublaziness='load', data-hubcss='fewww:www/css/lazyload.css,iconfont/css/global-iconfont.css@f49bb80', data-hubstamp='yui_3_16_0_1_1497006844824_216', data-hubstate='40')
    link#yui_3_16_0_1_1497006844824_6(charset='utf-8', rel='stylesheet', href='//s0.meituan.net/bs/css/?f=require(@mtfe/yui):build/widget-base/assets/skins/sam/widget-base.css@3.16.0;require(@mtfe/yui):build/widget-stack/assets/skins/sam/widget-stack.css@3.16.0;require(@mtfe/yui):build/overlay/assets/skins/sam/overlay.css@3.16.0;require(@mtfe/fe.core):w-simpledialog/assets/skins/sam/w-simpledialog.css@0.2.125')
    script#yui_3_16_0_1_1497006844824_8(charset='utf-8', src='//s0.meituan.net/bs/js/?f=require(@mtfe/fe.core):mt-formchecker/mt-formchecker.js@0.2.125;require(@mtfe/yui):build/attribute-complex/attribute-complex-min.js@3.16.0;require(@mtfe/yui):build/base-pluginhost/base-pluginhost-min.js@3.16.0;require(@mtfe/yui):build/classnamemanager/classnamemanager-min.js@3.16.0;require(@mtfe/yui):build/widget-base/widget-base-min.js@3.16.0;require(@mtfe/yui):build/widget-htmlparser/widget-htmlparser-min.js@3.16.0;require(@mtfe/yui):build/widget-skin/widget-skin-min.js@3.16.0;require(@mtfe/yui):build/widget-uievents/widget-uievents-min.js@3.16.0;require(@mtfe/yui):build/base-build/base-build-min.js@3.16.0;require(@mtfe/yui):build/widget-stdmod/widget-stdmod-min.js@3.16.0;require(@mtfe/yui):build/widget-position/widget-position-min.js@3.16.0;require(@mtfe/yui):build/widget-position-align/widget-position-align-min.js@3.16.0;require(@mtfe/yui):build/widget-stack/widget-stack-min.js@3.16.0;require(@mtfe/yui):build/widget-position-constrain/widget-position-constrain-min.js@3.16.0;require(@mtfe/yui):build/overlay/overlay-min.js@3.16.0;require(@mtfe/fe.core):mt-dialog/mt-dialog.js@0.2.125;fewww:www/js/dialog.js@f49bb80;fewww:www/js/ratelist.js@f49bb80;fewww:www/js/sku.js@f49bb80;fewww:www/js/add-cart.js@f49bb80;fewww:www/js/deal.js@f49bb80;require(@mtfe/yui):build/escape/escape-min.js@3.16.0;require(@mtfe/fe.core):w-core/w-core.js@0.2.125;require(@mtfe/fe.core):p-align/p-align.js@0.2.125;require(@mtfe/fe.core):w-simpledialog/w-simpledialog.js@0.2.125', async='')
    script#yui_3_16_0_1_1497006844824_9(charset='utf-8', src='//s0.meituan.net/bs/js/?f=fewww:www/js/movie.js@f49bb80', async='')
    script#yui_3_16_0_1_1497006844824_205(charset='utf-8', src='//s0.meituan.net/bs/js/?f=require(@mtfe/fe.core):uix-tooltip/uix-tooltip.js@0.2.125', async='')
    link#yui_3_16_0_1_1497006844824_242(charset='utf-8', rel='stylesheet', href='//s0.meituan.net/bs/css/?f=fewww:www/css/lazyload.css,iconfont/css/global-iconfont.css@f49bb80')
    script#yui_3_16_0_1_1497006844824_388(charset='utf-8', src='//s0.meituan.net/bs/js/?f=require(@mtfe/yui):build/yui-throttle/yui-throttle-min.js@3.16.0;require(@mtfe/fe.core):mt-xsstorage/mt-xsstorage.js@0.2.125;require(@mtfe/fe.core):mt-beacon/mt-beacon.js@0.2.125;require(@mtfe/fe.core):mt-log/mt-log.js@0.2.125;require(@mtfe/fe.core):mt-tracker/mt-tracker.js@0.2.125;fewww:www/js/acm-tracker.js@f49bb80', async='')
    link#yui_3_16_0_1_1497006844824_389(charset='utf-8', rel='stylesheet', href='//s0.meituan.net/bs/css/?f=fewww:/www/css/cinema-list.css@f49bb80;fewww:/www/css/downtip.css@f49bb80')
    script#yui_3_16_0_1_1497006844824_401(charset='utf-8', src='//s0.meituan.net/bs/js/?f=fewww:www/component/cinema-list/cinema-list.js@f49bb80;fewww:www/component/downtip/downtip.js@f49bb80', async='')
    script#yui_3_16_0_1_1497006844824_418(charset='utf-8', src='//s0.meituan.net/bs/js/?f=require(@mtfe/yui):build/transition/transition-min.js@3.16.0;fewww:www/js/tips.js@f49bb80', async='')
    link#yui_3_16_0_1_1497006844824_2931(charset='utf-8', rel='stylesheet', href='//s0.meituan.net/bs/css/?f=fewww:/www/css/side-movielist.css@f49bb80')
    script(type='text/javascript', async='', src='//s0.meituan.net/bs/file/?f=fewww:/vendor/js/ag.js@f49bb80')

    //- custom style
    link(charset='utf-8', rel='stylesheet', href='/stylesheets/cinema.css')

  body#biz.pg-movie
    #bdw.bdw
      #bd.cf
        #yui_3_16_0_1_1497006844824_3275.movie-container.J-movie-container
          .movie-container__head
            .heave
            .sunken
              span.star-container.movie-info__rate
                span.star-content(style='width:98%;')
              strong.rates
                | 9
                strong.rates-point .8
          .movie-container__body
            .movie-info.movie-info--rich.cf
              .movie-info__cover
                img(src='http://p0.meituan.net/166.234/movie/aeb864fa21d578d845b9cefc056e40cb2874891.jpg', alt='摔跤吧！爸爸', width='166', height='234')
              .movie-info__name
                h2 摔跤吧！爸爸
              i.movie-info-version.movie-info-version--2d
              section.movie-info__body
                dl.movie-info__list
                  dt 首映
                  dd 2017-05-05
                  dt 类型
                  dd 喜剧,动作,家庭
                  dt 版本
                  dd 2D
                  dt 地区
                  dd 印度
                  dt 时长
                  dd 140分钟
                  dt 导演
                  dd 尼特什·提瓦瑞
                  dt 主演
                  dd 阿米尔·汗，萨卡诗·泰瓦，法缇玛·萨那·纱卡，桑亚·玛荷塔，Aparshakti Khurana，Zaira Was...
            .operation-group
              .operation
                i.J-evaluate.operation__icon.star-circle--grey
                span.star-container.J-star-container(style='display:none;')
                  span.J-star-content.star-content(style='width:0%')
                span.operation__suffix.J-evaluate-suffix 看过，我要评分
          #yui_3_16_0_1_1497006844824_3274.movie-container__foot
            h4 剧情
            p#J-short-movie-desc.desc(hidden='hidden', style='display: none;')
              | 这是一个温暖幽默的励志故事。马哈维亚 辛格·珀尕（阿米尔汗 饰）曾是印度国家摔跤冠军，因生活所迫放弃摔跤。他希望让儿子可以帮他完成梦想：赢得世界级金牌。结果生了四个女儿。本以为梦想就此破碎的辛格却意外发现女儿身上的惊人天赋，看到冠军希望的他决定不能让女儿的天赋浪费，像其他女孩一样只能洗衣做饭过一生，...
              a#J-unfold-movie-desc(href='javascript:void(0)', data-mod-mtt='1.movie/moviedetail.0.0.j3pr823i') 展开
            p#J-long-movie-desc.desc
              | 这是一个温暖幽默的励志故事。马哈维亚 辛格·珀尕（阿米尔汗 饰）曾是印度国家摔跤冠军，因生活所迫放弃摔跤。他希望让儿子可以帮他完成梦想：赢得世界级金牌。结果生了四个女儿。本以为梦想就此破碎的辛格却意外发现女儿身上的惊人天赋，看到冠军希望的他决定不能让女儿的天赋浪费，像其他女孩一样只能洗衣做饭过一生，再三考虑之后，与妻子约定一年时间按照摔跤手的标准训练两个女儿：换掉裙子 、剪掉了长发，让她们练习摔跤，并赢得一个又一个冠军，最终赢来了成为榜样激励千千万万女性的机会……
              a#J-fold-movie-desc(href='javascript:void(0)', data-mod-mtt='1.movie/moviedetail.0.0.j3pr823i') 收起
        #content
          ul#switch-anchor.J-switcher.nav-tabs--large.cf
            li#yui_3_16_0_1_1497006844824_3126.J-tab.current(data-name='cinema')
              a#yui_3_16_0_1_1497006844824_3125(href='javascript:void(0);', data-mod-mtt='1.movie/moviedetail.0.0.j3pr823i') 上映影院
            li#yui_3_16_0_1_1497006844824_3111.J-tab(data-name='comment')
              a#yui_3_16_0_1_1497006844824_3110(href='javascript:void(0);', gaevent='diangying/588362/commentHot', data-mod-mtt='1.movie/moviedetail.0.0.j3pr823i')
                | 热门影评
                i.icon-new
          #cinema-info.J-cinema-info.cinema-info(data-uix='tooltip', data-params="{'useAnim': true}")
            #J-cinema-info-filter.cinema-info__filter
              #filter
                #yui_3_16_0_1_1497006844824_3090.filter-sortbar-outer-box
                  #yui_3_16_0_1_1497006844824_3089.filter-section-wrapper
                    #yui_3_16_0_1_1497006844824_3098.filter-label-list.filter-section.geo-filter-wrapper
                      .label.has-icon 区域：
                      ul#yui_3_16_0_1_1497006844824_3097.inline-block-list
                        li.item.current
                          a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all', gaevent='filter/area/1/all') 全部
                        each location in locations
                          li.item
                            a(href='http://gz.meituan.com/dianying/588362/2017-06-09/subway/all', gaevent='filter/area/1/subway') 地铁附近
                    #J-brand-filter.filter-label-list.filter-section.brand-filter-wrapper
                      .label.has-icon 影院：
                      ul#yui_3_16_0_1_1497006844824_3088.inline-block-list
                        li.item.current
                          a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all', gaevent='filter/brand/all') 全部
                        each cinema in cinemas
                          li.item
                            a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/2020418', gaevent='filter/brand/2020418') CGV影城
                        li.item
                          a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/0', gaevent='filter/brand/0') 其它
            .cinema-info__shadow
              .arrow--background
              .arrow--prospect
            #yui_3_16_0_1_1497006844824_35.component-cinema-list.mt-component--booted(data-component='cinema-list', mt-scope='[]', data-component-params='{"movieId":588362}', data-component-config='{"css":"fewww:\/www\/css\/cinema-list.css@f49bb80"}')
              #J-cinema-info-list.cinema-info__list
                each cinema in cinemas
                  #J-cinema-item-15803.J-cinema-item.cinema-item.cf(data-params='{"id":15803,"nm":"CGV\u661f\u805a\u6c47\u5f71\u57ce(\u6c38\u65fa\u5e97)","addr":"\u756a\u79ba\u533a\u4e9a\u8fd0\u5927\u90531\u53f7\u6c38\u65fa\u68a6\u4e50\u57ce4F"}')
                    #yui_3_16_0_1_1497006844824_3137.cinema-item__block.cinema-item__block--detail
                      h4.J-cinema-label.cinema-item__label
                        a.link--black__green(href='//gz.meituan.com/shop/92813531?movieid=588362&date=2017-06-09', gaevent='movieinfo/movieshop/title/1', target='_blank') CGV星聚汇影城(永旺店)
                        span.common-rating.common-rating--biz.cinema-item__rating
                          span.rate-stars(style='width:98%')
                        span.cinema-item__rating-text
                          strong 4.9
                      dl#yui_3_16_0_1_1497006844824_3136.cinema-info-row.cinema-info-row--addr.cf
                        dt.cinema-info-row__label 地址：
                        dd#yui_3_16_0_1_1497006844824_3135.cinema-info-row__value
                          | 番禺区亚运大道1号永旺梦乐城4F
                        dd.cinema-info-row__promotion
                      dl#yui_3_16_0_1_1497006844824_3139.cinema-info-row.cinema-info-row--plist.cf
                        dt.cinema-info-row__label 影讯：
                        dd#yui_3_16_0_1_1497006844824_3138.cinema-info-row__value
                          span.showtimes__item 21:40
                    #yui_3_16_0_1_1497006844824_3133.cinema-item__block.cinema-item__block--feature
                      p.cinema-feature.cinema-feature__subway.uix-tooltip(title='距3号线番禺广场站约319米<br/>')
                        i.icon.icon--subway
                        | 地铁附近
                      p#yui_3_16_0_1_1497006844824_3134.cinema-feature.cinema-feature__text  
                    #yui_3_16_0_1_1497006844824_3328.cinema-item__block.cinema-item__block--button
                      .btn-block.btn-block--buy.cf
                      #yui_3_16_0_1_1497006844824_3327.btn-block.btn-block--seat.cf
                        p.btn-block__price
                          em.btn-block__price__tag.f4
                            span.tag ¥
                            i.inline-block.ps_16.pngfix(style='background-image: url(//s0.meituan.net/bs/file/?f=fewww:/www/css/si/pricesp/16/e03af0a355.png@f49bb80);background-position: -50px -16px;')
                            i.inline-block.ps_16.pngfix(style='background-image: url(//s0.meituan.net/bs/file/?f=fewww:/www/css/si/pricesp/16/e03af0a355.png@f49bb80);background-position: -85px -16px;')
                          | 起
                        a#yui_3_16_0_1_1497006844824_3326.J-select-dialog.btn.btn-hot.btn-small.btn-block--seat__btn(gaevent='movieinfo/xuanzuo/buy/588362/1', href='javascript:void(0)', data-params='{"date":"2017-06-09", "geo":"all", "movieId":"588362", "cinemaId":"15803", "pid":"92813531", "today": "2017-06-09"}') 选座购票
            .paginator-wrapper
              ul.paginator.paginator--notri.paginator--large
                li.current
                  a 1
                li
                  a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all/page2', gaevent='content/page/2') 2
                li
                  a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all/page3', gaevent='content/page/3') 3
                li
                  a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all/page4', gaevent='content/page/4') 4
                li.next
                  a(href='http://gz.meituan.com/dianying/588362/2017-06-09/all/all/page2', gaevent='content/page/next')
                    | 下一页
                    i.tri
          #yui_3_16_0_1_1497006844824_3115.J-comment-wrapper.comment-wrapper(hidden='hidden', style='display: none;')
            .comment-list-header.cf
              span.title 《摔跤吧！爸爸》的热门影评
              a.link(href='/dianying/yingping/588362', gaevent='dianying/588362/CommentAllTop')
                | 查看全部246832条
                i.F-glob.F-glob-caret-right-small
            .J-comment-list.comment-list
              each remark in remarks
                .comment(data-commentid='105091528', data-comment='拍得比较真实，很能体会到电影中爸爸对孩子的希望，孩子在训练过程中经受的困难、嘲笑与质疑，孩子成功以后父母和孩子相视流泪的心情…突然明白了我父母对我的感情，尽管有时我会叛逆，会拒绝他们的好意，但不得不说，父母真的...')
                  .comment__head.cf
                    span.user-info qingyichiwenrou
                    span.time 2017-05-05 02:52
                    span.rate-wrapper
                      span.rate.common-rating
                        span.rate-stars(style='width:100%')
                    a.J-share.share(href='javascript:void(0)', gaevent='dianying/588362/CommentShareButton')
                  span.comment__content
                    | 拍得比较真实，很能体会到电影中爸爸对孩子的希望，孩子在训练过程中经受的困难、嘲笑与质疑，孩子成功以后父母和孩子相视流泪的心情…突然明白了我父母对我的感情，尽管有时我会叛逆，会拒绝他们的好意，但不得不说，父母真的在我们成长中付出了太多太多……电影有笑有泪，很自然，个人觉得值得推荐。
            .comment-list-footer.cf
              a.link(href='/dianying/yingping/588362', gaevent='dianying/588362/CommentAllBottom')
                | 查看全部246832条
                i.F-glob.F-glob-caret-right-small
    iframe(src='http://ck.dsp.meituan.com/beacon?adx=tanx', frameborder='0', style='width: 1px; height: 1px; position: absolute; top: 0px; left: -9999px; display: none !important; visibility: hidden !important; opacity: 0 !important;', width='0', height='0')
    script.
      M.Env["data-conf"] = {"domainHost":"meituan.com","cdnDomainHost":"meituan.net","rootHost":"www.meituan.com","app":"www","comboBase":"\\/\/s0.meituan.net\/bs\/css\/?f=","yuiVersion":"3.16.0","httpReferer":"http:\/\/maoyan.com\/films\/588362","debug":false,"pageview":"\/index.php","pageviewData":{"page":"movie\/moviedetail"},"asyncPageviewData":[],"gaCustomVar":"","coreCssUrl":"\/\/s0.meituan.net\/bs\/css\/?f=fewww:www\/css\/common.css,www\/css\/base.css,www\/css\/seo.css@f49bb80","moreCssUrl":"\/\/s0.meituan.net\/bs\/css\/?f=fewww:www\/css\/filter.css,www\/css\/movieinfo.css,www\/css\/movie.css,www\/css\/side.css,www\/css\/deallist.css,www\/css\/banner-index.css,www\/css\/animate.css@f49bb80","coreJsUrl":"\/\/s0.meituan.net\/bs\/js\/?f=require(@mtfe\/yui):build\/mt-web-core\/mt-web-core.js@3.16.0;fewww:www\/js\/inline\/conf.js@f49bb80;require(@mtfe\/fe.core):mt-core\/mt-core.js,mt-base\/mt-base.js,mt-uiutil\/mt-uiutil.js,mt-window\/mt-window.js,mt-event\/mt-event.js,mt-event-hover\/mt-event-hover.js,mt-component\/mt-component.js,mt-viewporttracker\/mt-viewporttracker.js,mt-bigrender\/mt-bigrender.js,mt-imageloader\/mt-imageloader.js,mt-ajax\/mt-ajax.js,uix-dropdown\/uix-dropdown.js,p-node-placeholder\/p-node-placeholder.js,p-node-effect\/p-node-effect.js@0.2.125;fewww:www\/js\/base.js,www\/js\/tracker.js,www\/js\/hub.js,www\/component\/search-box\/search-box.js,www\/component\/cate-nav\/cate-nav.js@f49bb80;require(@mtfe\/fe.core):mt-ngparser\/mt-ngparser.js,mt-scope\/mt-scope.js,mt-validator\/mt-validator.js,mt-autoinit\/mt-autoinit.js,mt-bind\/mt-bind.js@0.2.125","jsDepsUrl":"\/\/s0.meituan.net\/bs\/js\/?f=require(@mtfe\/fe.core):deps.js@0.2.125;fewww:www\/deps.js,\/www\/js\/inline\/init.js@f49bb80","ravenUrl":"\/\/s0.meituan.net\/bs\/js\/?f=fewww:vendor\/js\/raven-helper.min.js@f49bb80","ag":"\/\/s0.meituan.net\/bs\/file\/?f=fewww:\/vendor\/js\/ag.js@f49bb80","DEV":0,"nodelogin":false,"repoHash":{"yui":"3.16.0","fecore":"0.2.125","fewww":"f49bb80"},"useBS":true,"BSTypeJs":"js","BSTypeCss":"css","BSName":"fewww"};
    script(src='//s0.meituan.net/bs/js/?f=require(@mtfe/yui):build/mt-web-core/mt-web-core.js@3.16.0;fewww:www/js/inline/conf.js@f49bb80;require(@mtfe/fe.core):mt-core/mt-core.js,mt-base/mt-base.js,mt-uiutil/mt-uiutil.js,mt-window/mt-window.js,mt-event/mt-event.js,mt-event-hover/mt-event-hover.js,mt-component/mt-component.js,mt-viewporttracker/mt-viewporttracker.js,mt-bigrender/mt-bigrender.js,mt-imageloader/mt-imageloader.js,mt-ajax/mt-ajax.js,uix-dropdown/uix-dropdown.js,p-node-placeholder/p-node-placeholder.js,p-node-effect/p-node-effect.js@0.2.125;fewww:www/js/base.js,www/js/tracker.js,www/js/hub.js,www/component/search-box/search-box.js,www/component/cate-nav/cate-nav.js@f49bb80;require(@mtfe/fe.core):mt-ngparser/mt-ngparser.js,mt-scope/mt-scope.js,mt-validator/mt-validator.js,mt-autoinit/mt-autoinit.js,mt-bind/mt-bind.js@0.2.125')
    #yui3-css-stamp(style='position: absolute !important; visibility: hidden !important')
    script(src='//s0.meituan.net/bs/js/?f=require(@mtfe/fe.core):deps.js@0.2.125;fewww:www/deps.js,/www/js/inline/init.js@f49bb80')
    script(src='//analytics.meituan.net/analytics.js')
    iframe(src='http://ck.dsp.meituan.com/beacon?adx=tanx', frameborder='0', style='width: 1px; height: 1px; position: absolute; top: 0px; left: -9999px; display: none !important; visibility: hidden !important; opacity: 0 !important;', width='0', height='0')
    script#share-comment-dialog-markup(type='text/x-template').
      <div class="share-list comment-share cf">
      <a target="_blank" hidefocus="true" class="sina" href="http://v.t.sina.com.cn/share/share.php?appkey=375875218&url={url}&title={comment}&pic=http%3A%2F%2Fp0.meituan.net%2Fmovie%2Faeb864fa21d578d845b9cefc056e40cb2874891.jpg" title="分享到新浪微博" gaevent="dianying/{movieId}/CommentShareSina">新浪微博</a><a target="_blank" hidefocus="true" class="qweibo" href="http://v.t.qq.com/share/share.php?appkey=51d04b4824744e71bd1e55baceb42562&url={url}&title={comment}&pic=http%3A%2F%2Fp0.meituan.net%2Fmovie%2Faeb864fa21d578d845b9cefc056e40cb2874891.jpg" title="分享到腾讯微博" gaevent="dianying/{movieId}/CommentShareTencent">腾讯微博</a><a target="_blank" hidefocus="true" class="renren" href="http://share.renren.com/share/buttonshare.do?link={url}&title={comment}" title="分享到人人网" gaevent="dianying/{movieId}/CommentShareRenren">人人网</a><a target="_blank" hidefocus="true" class="douban" href="http://www.douban.com/recommend/?url={url}&title={comment}" title="分享到豆瓣" gaevent="dianying/{movieId}/CommentShareDouban">豆瓣</a><a target="_blank" hidefocus="true" class="qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={url}&title={comment}&pics=http%3A%2F%2Fp0.meituan.net%2Fmovie%2Faeb864fa21d578d845b9cefc056e40cb2874891.jpg" title="分享到QQ空间" gaevent="dianying/{movieId}/CommentShareKongjian">QQ空间</a>
      </div>
    #yui_3_16_0_1_1497006844824_37.component-downtip.mt-component--booted(data-component='downtip', mt-scope='[]', data-component-config='{"css":"fewww:\/www\/css\/downtip.css@f49bb80"}')
      #yui_3_16_0_1_1497006844824_3104.closetip
        .bg-color
        #yui_3_16_0_1_1497006844824_3103.tip
          .mid
            .text
              h3 猫眼电影（美团旗下）
              span 特惠选座，热门影讯，爱上看电影
            .imgcat
              .erwei
                a(href='http://maoyan.com', target='_blank')
                p "扫描下载"
            .download(data-mtevent='{"la":"downtip\/link"}')
              a(href='http://maoyan.com', target='_blank') 立即下载
          #yui_3_16_0_1_1497006844824_3102.close(data-mtevent='{"la":"downtip\/close"}')
            span#yui_3_16_0_1_1497006844824_3101.close-it
    script(type='text/javascript').
      Y.use('www-movie', function(Y) {
      $MOVIE = Y.mt.www.Movie;
      $MOVIE.initMovieDesc("", "aHR0cDovL3d3dy5tZWl0dWFuLmNvbS9kaWFueWluZy81ODgzNjIuaHRtbA", "588362");
      $MOVIE.initToggleSwitcher('588362', '摔跤吧！爸爸');
      });
      M.load(function () {
      Y.use('www-movie', function(Y) {
      var $Www = Y.mt.www,
      $MOVIE = $Www.Movie,
      movieID = '588362';
      $MOVIE.asyncLoadSideMovie('hot', 5, 'moviedetail', movieID);
      $Www.storeScrollInfo('#J-cinema-info-filter');
      });
      });
