html
  // <![endif]
  head
    title #{movie_description.chinese_name}
    meta(charset='utf-8')
    meta(http-equiv='cleartype', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='renderer', content='webkit')
    meta(name='HandheldFriendly', content='true')
    meta(name='format-detection', content='email=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(async='', src='https://s0.meituan.net/bs/js/?f=mta-js:mta.min.js')
    script.
      cid = 128432;
      val = {"id":249895};
      window.system = {"movieId":"249895","imgs":[],"myComment":{}};
    link(rel='stylesheet', href='//ms0.meituan.net/mywww/common.dce64fb8.css')
    link(rel='stylesheet', href='//ms0.meituan.net/mywww/movie-detail.6b71afde.css')
    script(src='//ms0.meituan.net/mywww/stat.950a977c.js')
    script(async='', defer='', charset='utf-8', src='//analytics.meituan.com/source/stable/web.js')
    script.
      if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//ms0.meituan.net/mywww/image-2x.8ba7074d.css"/>') }
    script.
      window.mta && mta('tag', 'page', '/films/-id-')
    style.
      @font-face {
      font-family: stonefont;
      src: url('//p1.meituan.net/colorstone/2d42382c30d87cd12ec2fc596b0efa753168.eot');
      src: url('//p1.meituan.net/colorstone/2d42382c30d87cd12ec2fc596b0efa753168.eot?#iefix') format('embedded-opentype'),
      url('//p0.meituan.net/colorstone/ea5753fb3f862607054202aea10310502084.woff') format('woff');
      }
      .stonefont {
      font-family: stonefont;
      }

    //- custom
    script(src='/javascripts/movie-detail.js')
  body
    .banner
      .wrapper.clearfix
        .celeInfo-left
          .avater-shadow
            img.avater(src='http://p1.meituan.net/movie/4185bf22758d232e15c5bf52f89a7553867763.png@464w_644h_1e_1c', alt='')
            .movie-ver
              i.imax3d
        .celeInfo-right.clearfix
          .movie-brief-container
            h3.name #{movie_description.chinese_name}
            .ename.ellipsis #{movie_description.engnish_name}
            ul
              li.ellipsis #{movie_description.type}
              li.ellipsis
                | #{movie_description.region}
                | / #{movie_description.length}
              li.ellipsis #{movie_description.release_time}
          .action-buyBtn
            .action.clearfix(data-val='{movieid:249895}')
              a.wish(data-wish='false', data-score='')
                div
                  i.icon.wish-icon
                  span.wish-msg(data-act='wish-click') 想看
              a.score-btn
                div
                  i.icon.score-btn-icon
                  span.score-btn-msg(data-act='comment-open-click')
                    | 评分
            a.btn.buy(href='http://www.meituan.com/dianying/249895?#content', target='_blank') 立即购票
          .movie-stats-container
            .movie-index
              p.movie-index-title 用户评分
              .movie-index-content.score.normal-score
                  span.no-info #{movie_description.user_rating}
            .movie-index
              p.movie-index-title 专业评分
              .movie-index-content.score.pro-score
                span.no-info #{movie_description.professional_rating}
            .movie-index
              p.movie-index-title 累计票房
              .movie-index-content.box
                span.no-info #{movie_description.box_office}
    #app.container
      .main-content-container.clearfix
        .main-content
          .tab-container
            .tab-title-container.clearfix
              .tab-title.active(data-act='tab-desc-click') 介绍
              .tab-title(data-act='tab-celebrity-click') 演职人员
              .tab-title.tab-disabled(data-act='tab-award-click') 奖项
              .tab-title(data-act='tab-img-click') 图集
            .tab-content-container
              #tab-desc.tab-desc.tab-content.active(data-val="{tabtype:'desc'}")
                input#tab-desc-hidden(type='hidden' value='#{movie_description.profile}') 
                .module
                  .mod-title
                    h3 热门短评
                  .mod-content
                    .comment-list-container(data-hot='10')
                      ul
                        each movie_remark in movie_remarks

                          li.comment-container(data-val='{commentid:107321263}')
                            .portrait-container
                              .portrait
                                img(src='https://img.meituan.net/avatar/8cbbfbaf4c470af53401902b88f4a58a107502.jpg@100w_100h_1e_1c', alt='')
                              i.level-3-icon
                            .main
                              .main-header.clearfix
                                .user
                                  span.name 鹿酥酥
                                  span.tag 购
                                .time(title='2017-05-27 11:55:04')
                                  span(title='2017-05-27 11:55:04') 05-27
                                  //- ul.score-star.clearfix(data-score='10')
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                .approve(data-id='107321263')
                                  i.approve-icon(data-act='comment-approve-click')
                                  span.num 3472
                              .comment-content
                                | 加勒比这个系列到现在14年了，距离上一部还是六年前，时隔六年我终于拿着这张票再次登上杰克船长的黑珍珠，想想那会儿看的时候还是毛孩子现在都工作了，船长还是那个船长，还是很帅，别人家的人娃儿都在一块儿了，我船长还自己飘呢，希望等出6的时候我船长去赴约然后也有伴儿了，今天才知道他身上的东西全都是他第一批船员上的贡，有心了我船长。扬帆起航，致敬船长，致敬青春。顺便说一句，年轻的船长真他妈的帅！

                    a.comment-entry(data-act='comment-no-content-click') 写短评
              #tab-celebrity.tab-celebrity.tab-content(data-val="{tabtype:'celebrity'}")
                input#tab-celebrity-hidden(type='hidden' value='#{movie_description.actors}')
              .tab-award.tab-content(data-val="{tabtype:'award'}")
              #tab-img.tab-img.tab-content(data-val="{tabtype:'img'}")
                input#tab-img-hidden(type='hidden' value='#{movie_description.pictures}')
        .related
          .module
    //if IE 8
      script(src='//ms0.meituan.net/mywww/es5-shim.bbad933f.js')
    //if IE 8
      script(src='//ms0.meituan.net/mywww/es5-sham.d6ea26f4.js')
    script(src='//ms0.meituan.net/mywww/common.b7b6a947.js')
    script(src='//ms0.meituan.net/mywww/movie-detail.bca7b4c7.js')
