html
  // <![endif]
  head
    title #{movie_description.chinese_name}
    meta(charset='utf-8')
    meta(http-equiv='cleartype', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='renderer', content='webkit')
    meta(name='HandheldFriendly', content='true')
    meta(name='format-detection', content='email=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(async='', src='https://s0.meituan.net/bs/js/?f=mta-js:mta.min.js')
    script.
      cid = 128432;
      val = {"id":249895};
      window.system = {"movieId":"249895","imgs":[],"myComment":{}};
    link(rel='stylesheet', href='//ms0.meituan.net/mywww/common.dce64fb8.css')
    link(rel='stylesheet', href='//ms0.meituan.net/mywww/movie-detail.6b71afde.css')
    script(src='//ms0.meituan.net/mywww/stat.950a977c.js')
    script(async='', defer='', charset='utf-8', src='//analytics.meituan.com/source/stable/web.js')
    script.
      if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//ms0.meituan.net/mywww/image-2x.8ba7074d.css"/>') }
    script.
      window.mta && mta('tag', 'page', '/films/-id-')
    style.
      @font-face {
      font-family: stonefont;
      src: url('//p1.meituan.net/colorstone/2d42382c30d87cd12ec2fc596b0efa753168.eot');
      src: url('//p1.meituan.net/colorstone/2d42382c30d87cd12ec2fc596b0efa753168.eot?#iefix') format('embedded-opentype'),
      url('//p0.meituan.net/colorstone/ea5753fb3f862607054202aea10310502084.woff') format('woff');
      }
      .stonefont {
      font-family: stonefont;
      }

    //- custom
    script(src='/javascripts/movie-detail.js')
  body
    .banner
      .wrapper.clearfix
        .celeInfo-left
          .avater-shadow
            img.avater(src='#{movie_description.img_url}', alt='')
            .movie-ver
              i.imax3d
        .celeInfo-right.clearfix
          .movie-brief-container
            h3.name #{movie_description.chinese_name}
            .ename.ellipsis #{movie_description.engnish_name}
            ul
              li.ellipsis #{movie_description.type}
              li.ellipsis
                | #{movie_description.region}
                | / #{movie_description.length}
              li.ellipsis #{movie_description.release_time}
          .action-buyBtn
            .action.clearfix(data-val='{movieid:249895}')
              a.wish(data-wish='false', data-score='')
                div
                  i.icon.wish-icon
                  span.wish-msg(data-act='wish-click') 想看
              a.score-btn
                div
                  i.icon.score-btn-icon
                  span.score-btn-msg(data-act='comment-open-click')
                    | 评分
            a.btn.buy(href='/movies/#{movie_description.movie_id}/cinemas', target='_blank') 立即购票
          .movie-stats-container
            .movie-index
              p.movie-index-title 用户评分
              .movie-index-content.score.normal-score
                  span.no-info #{movie_description.user_rating}
            .movie-index
              p.movie-index-title 专业评分
              .movie-index-content.score.pro-score
                span.no-info #{movie_description.professional_rating}
            .movie-index
              p.movie-index-title 累计票房
              .movie-index-content.box
                span.no-info #{movie_description.box_office}
    #app.container
      .main-content-container.clearfix
        .main-content
          .tab-container
            .tab-title-container.clearfix
              .tab-title.active(data-act='tab-desc-click') 介绍
              .tab-title(data-act='tab-celebrity-click') 演职人员
              .tab-title.tab-disabled(data-act='tab-award-click') 奖项
              .tab-title(data-act='tab-img-click') 图集
            .tab-content-container
              #tab-desc.tab-desc.tab-content.active(data-val="{tabtype:'desc'}")
                input#tab-desc-hidden(type='hidden' value='#{movie_description.profile}') 
                .module
                  .mod-title
                    h3 热门短评
                  .mod-content
                    .comment-list-container(data-hot='10')
                      ul
                        each movie_remark in movie_remarks

                          li.comment-container(data-val='{commentid:107321263}')
                            .portrait-container
                              .portrait
                                img(src='https://img.meituan.net/avatar/8cbbfbaf4c470af53401902b88f4a58a107502.jpg@100w_100h_1e_1c', alt='')
                              i.level-3-icon
                            .main
                              .main-header.clearfix
                                .user
                                  span.name #{movie_remark.user_id}
                                .time(title='2017-06-04 10:58:20')
                                  span(title='2017-06-04 10:58:20') #{movie_remark.time}
                                //- ul.score-star.clearfix(data-score='1')
                                //-   li
                                //-     i.half-star.left.active
                                //-     i.half-star.right
                                //-   li
                                //-     i.half-star.left
                                //-     i.half-star.right
                                //-   li
                                //-     i.half-star.left
                                //-     i.half-star.right
                                //-   li
                                //-     i.half-star.left
                                //-     i.half-star.right
                                //-   li
                                //-     i.half-star.left
                                //-     i.half-star.right
                          
                              .approve(data-id='108499590')
                                i.approve-icon(data-act='comment-approve-click')
                                span.num #{movie_remark.praise}
                            .comment-content #{movie_remark.comment}

                    a.comment-entry(data-act='comment-no-content-click') 写短评
              .tab-celebrity.tab-content(data-val="{tabtype:'celebrity'}")
                .celebrity-container
                  .celebrity-group
                    .celebrity-type
                      | 导演
                      span.num （1）
                    ul.celebrity-list.clearfix
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:28495}')
                        a.portrait(href='/films/celebrity/28495', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/0a3be409c4d4d2f317dff1f1ae0d1f3246372.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/28495', target='_blank')
                            | 艾里克斯·库兹曼
                  .celebrity-group
                    .celebrity-type
                      | 演员
                      span.num （52）
                    ul.celebrity-list.clearfix
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:28910}')
                        a.portrait(href='/films/celebrity/28910', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/6afaea1cb4ca2b346e86e265347c78b833970.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/28910', target='_blank')
                            | 汤姆·克鲁斯
                          br
                          span.role
                            | 饰：尼克·莫顿
                            | Nick Morton
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:5957}')
                        a.portrait(href='/films/celebrity/5957', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/0c4e3a90ba473f7ab54ca0eaff11d35c42933.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/5957', target='_blank')
                            | 安娜贝拉·沃丽丝
                          br
                          span.role
                            | 饰：珍妮
                            | Jenny Halsey
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:28312}')
                        a.portrait(href='/films/celebrity/28312', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/3a0e1b194b26fdcc7c20def9c9ada32739348.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/28312', target='_blank')
                            | 罗素·克劳
                          br
                          span.role
                            | 饰：亨利博士
                            | Dr. Henry Jekyll
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:12171}')
                        a.portrait(href='/films/celebrity/12171', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/3115d8e43d05f837e081af4caf51bee260931.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/12171', target='_blank')
                            | 索菲亚·波多拉
                          br
                          span.role 饰：公主阿玛内特
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:7467}')
                        a.portrait(href='/films/celebrity/7467', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/da9ed5024b5dd8d1856a0a3ea980513645876.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/7467', target='_blank')
                            | 杰克·约翰森
                          br
                          span.role 饰：Sgt. Vail
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1987551}')
                        a.portrait(href='/films/celebrity/1987551', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/c002a6e0d2d189273c3d6fcc8796667c9342.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/1987551', target='_blank')
                            | Kim Adis
                          br
                          span.role 饰：Museum Visitor #8
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:17419}')
                        a.portrait(href='/films/celebrity/17419', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/49b61667c107dada754a2a66942266f751505.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/17419', target='_blank')
                            | 查茜蒂·巴勒斯特罗斯
                          br
                          span.role 饰：Kira Lee
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2007743}')
                        a.portrait(href='/films/celebrity/2007743', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/2007743', target='_blank')
                            | Lewis Holloway
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:778054}')
                        a.portrait(href='/films/celebrity/778054', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/778054', target='_blank')
                            | Marwan Kenzari
                          br
                          span.role 饰：other character
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:14067}')
                        a.portrait(href='/films/celebrity/14067', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/8b9133e98ed7d935c6225fe39231c38941944.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/14067', target='_blank')
                            | 考特尼·万斯
                          br
                          span.role 饰：Colonel Gideon Forster
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2072294}')
                        a.portrait(href='/films/celebrity/2072294', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/b11d6008d31211376be145bda05171b444425.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/2072294', target='_blank')
                            | Shina Shihoko Nagai
                          br
                          span.role 饰：Museum Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1625635}')
                        a.portrait(href='/films/celebrity/1625635', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/f5149b994eb4a2c413715f7924f5ae8814383.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/1625635', target='_blank')
                            | Anna Talakkottur
                          br
                          span.role 饰：Tourist Guide
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1130072}')
                        a.portrait(href='/films/celebrity/1130072', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/1130072', target='_blank')
                            | Anya Bergstedt Jordanova
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:4919}')
                        a.portrait(href='/films/celebrity/4919', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/ab37204f40cc1dcf58a6b87ef3f668f435204.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/4919', target='_blank')
                            | 迪伦·史密斯
                          br
                          span.role 饰：other character
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:9569}')
                        a.portrait(href='/films/celebrity/9569', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/ef924a00f0fa3f1c189b8579abd885fd42460.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/9569', target='_blank')
                            | 哈维尔·博泰特
                          br
                          span.role 饰：Set
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1734}')
                        a.portrait(href='/films/celebrity/1734', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/d9c67068ed614783cc3ff15363e5497627172.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/1734', target='_blank')
                            | Shihoko Nagai
                          br
                          span.role 饰：Museum Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1014666}')
                        a.portrait(href='/films/celebrity/1014666', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/1014666', target='_blank')
                            | Solomon Taiwo Justified
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:453140}')
                        a.portrait(href='/films/celebrity/453140', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/485fcd62a9d639138a5fe97815308915109513.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/453140', target='_blank')
                            | Jason Matthewson
                          br
                          span.role 饰：Museum Guy
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2421}')
                        a.portrait(href='/films/celebrity/2421', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/13dd6875eb2aa4a0828cf3a5e3f188bf164169.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2421', target='_blank')
                            | Emily Ng
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:180678}')
                        a.portrait(href='/films/celebrity/180678', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/180678', target='_blank')
                            | Rez Kempton
                          br
                          span.role 饰：Foreman
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:424560}')
                        a.portrait(href='/films/celebrity/424560', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/372fa0d6dcf46acbab5ec64585b316fa39924.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/424560', target='_blank')
                            | Kelly Burke
                          br
                          span.role 饰：Museum Visitor
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:242825}')
                        a.portrait(href='/films/celebrity/242825', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/8c21cca3a1fb946416cf131a3f2f9d0212984.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/242825', target='_blank')
                            | Stephen Uppal
                          br
                          span.role 饰：Sepi
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:416334}')
                        a.portrait(href='/films/celebrity/416334', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/416334', target='_blank')
                            | Stephen Thompson
                          br
                          span.role 饰：Technician
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401625}')
                        a.portrait(href='/films/celebrity/2401625', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401625', target='_blank')
                            | Christian Knight
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401624}')
                        a.portrait(href='/films/celebrity/2401624', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401624', target='_blank')
                            | Lewis Holloway
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401537}')
                        a.portrait(href='/films/celebrity/2401537', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401537', target='_blank')
                            | James Arama
                          br
                          span.role 饰：2nd Man
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401536}')
                        a.portrait(href='/films/celebrity/2401536', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401536', target='_blank')
                            | Bryan Solarte
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2392332}')
                        a.portrait(href='/films/celebrity/2392332', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2392332', target='_blank')
                            | Jade Clarke
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2185153}')
                        a.portrait(href='/films/celebrity/2185153', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2185153', target='_blank')
                            | Leon Grant
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:4496}')
                        a.portrait(href='/films/celebrity/4496', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/72a6e9c1a50e0a58cfc5c0da7e93dca913246.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/4496', target='_blank')
                            | Selva Rasalingam
                          br
                          span.role 饰：King Menehptre
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:27966}')
                        a.portrait(href='/films/celebrity/27966', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/f6c8d2e80c89bfef7056c35f24add8ed90179.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/27966', target='_blank')
                            | Tyrone Love
                          br
                          span.role 饰：Prodigium Agent
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:359135}')
                        a.portrait(href='/films/celebrity/359135', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/b8fa80516c93cb2be80b8716eaad2ab610742.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/359135', target='_blank')
                            | Bella Ava Georgiou
                          br
                          span.role 饰：Fourth Technician
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:129271}')
                        a.portrait(href='/films/celebrity/129271', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/3b0a63573c095eb5bcf7ed2a0036931c43786.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/129271', target='_blank')
                            | 迈克尔·海登
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:377327}')
                        a.portrait(href='/films/celebrity/377327', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/b9063192b38da75e519fa4309a9bab6d13456.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/377327', target='_blank')
                            | 哈德良·霍华德
                          br
                          span.role 饰：MP
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:20015}')
                        a.portrait(href='/films/celebrity/20015', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/20015', target='_blank')
                            | Jimi James
                          br
                          span.role 饰：Museum Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2394906}')
                        a.portrait(href='/films/celebrity/2394906', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2394906', target='_blank')
                            | Jackson Kai
                          br
                          span.role 饰：Mummy
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2392331}')
                        a.portrait(href='/films/celebrity/2392331', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2392331', target='_blank')
                            | James Tufnell
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:378008}')
                        a.portrait(href='/films/celebrity/378008', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/42630e6d1f07abaf531d1d05d586328918154.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/378008', target='_blank')
                            | Mouna Albakry
                          br
                          span.role 饰：Museum Visitor
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401535}')
                        a.portrait(href='/films/celebrity/2401535', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401535', target='_blank')
                            | Raid Matwi
                          br
                          span.role 饰：Crossrail worker
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401534}')
                        a.portrait(href='/films/celebrity/2401534', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401534', target='_blank')
                            | Maryam Grace
                          br
                          span.role 饰：Female Technician
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2247900}')
                        a.portrait(href='/films/celebrity/2247900', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2247900', target='_blank')
                            | Edmund Wiseman
                          br
                          span.role 饰：Prodigium Technician
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:413916}')
                        a.portrait(href='/films/celebrity/413916', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/c162fd62f523207bb266d3ec9930c11840310.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/413916', target='_blank')
                            | Amir El-Masry
                          br
                          span.role 饰：other character
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1131}')
                        a.portrait(href='/films/celebrity/1131', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/movie/6bff628f0548f2eaf160596a8dfe6b6f14371.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/1131', target='_blank')
                            | George Georgiou
                          br
                          span.role 饰：Temple Priest
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:1028925}')
                        a.portrait(href='/films/celebrity/1028925', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/1028925', target='_blank')
                            | Joost Janssen
                          br
                          span.role 饰：American Soldier
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:27979}')
                        a.portrait(href='/films/celebrity/27979', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/a3da7dc2f3b58b52e7f76b14231342e543790.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/27979', target='_blank')
                            | 豪尔赫·莱昂·马丁内斯
                          br
                          span.role 饰：Technician
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2009}')
                        a.portrait(href='/films/celebrity/2009', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2009', target='_blank')
                            | Nasir Jama
                          br
                          span.role 饰：Egyptian Slave
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:375985}')
                        a.portrait(href='/films/celebrity/375985', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/375985', target='_blank')
                            | Sophie Karl
                          br
                          span.role 饰：French Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:380257}')
                        a.portrait(href='/films/celebrity/380257', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/380257', target='_blank')
                            | Vera Chok
                          br
                          span.role 饰：Prodigium Tech
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:28399}')
                        a.portrait(href='/films/celebrity/28399', target='_blank')
                          img.default-img(data-src='http://p0.meituan.net/movie/55ccd4f482295928f8ec654e9a92b45843161.jpg@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/28399', target='_blank')
                            | 李·阿斯奎斯-科
                          br
                          span.role 饰：Cross Rail Worker
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2177412}')
                        a.portrait(href='/films/celebrity/2177412', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2177412', target='_blank')
                            | Abdul Hakim Joy
                          br
                          span.role 饰：Tourist
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:406662}')
                        a.portrait(href='/films/celebrity/406662', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/406662', target='_blank')
                            | Asheq Akhtar
                          br
                          span.role 饰：Temple Priest
                      li.celebrity.actor(data-act='celebrity-click', data-val='{celebrityid:2401511}')
                        a.portrait(href='/films/celebrity/2401511', target='_blank')
                          img.default-img(data-src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c', alt='')
                        .info
                          a.name(href='/films/celebrity/2401511', target='_blank')
                            | Kaushal Odedra
                          br
                          span.role 饰：Prodigium Technician
                  .celebrity-group
                    .celebrity-type
                      | 编剧
                      span.num （3）
                    ul.celebrity-list.clearfix
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:158430}')
                        a.portrait(href='/films/celebrity/158430', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/ecfce3c1d9b5f748f038040e80f01e1527612.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/158430', target='_blank')
                            | 比利·雷
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:797246}')
                        a.portrait(href='/films/celebrity/797246', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/0c223e63376381e9171189e26e9e422097407.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/797246', target='_blank')
                            | 乔·斯派茨
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:510151}')
                        a.portrait(href='/films/celebrity/510151', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/185c0d9a97ce16f2ae3174f458b5842c14123.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/510151', target='_blank')
                            | 克里斯·摩根
                  .celebrity-group
                    .celebrity-type
                      | 制片人
                      span.num （6）
                    ul.celebrity-list.clearfix
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:28495}')
                        a.portrait(href='/films/celebrity/28495', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/0a3be409c4d4d2f317dff1f1ae0d1f3246372.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/28495', target='_blank')
                            | 艾里克斯·库兹曼
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:977892}')
                        a.portrait(href='/films/celebrity/977892', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/977892', target='_blank')
                            | Jason F. Brown
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:57516}')
                        a.portrait(href='/films/celebrity/57516', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/57516', target='_blank')
                            | 肖恩·丹尼尔
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:28494}')
                        a.portrait(href='/films/celebrity/28494', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/movie/e3df5f38ad20194ff2873a867fc004ad81970.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/28494', target='_blank')
                            | 罗伯托·奥奇
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:481933}')
                        a.portrait(href='/films/celebrity/481933', target='_blank')
                          img.default-img(alt='', src='http://p1.meituan.net/mmdb/3a2061d771d98566d3e5fa5c08c5e0b33685.png@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/481933', target='_blank')
                            | Bobby Cohen
                      li.celebrity(data-act='celebrity-click', data-val='{celebrityid:890259}')
                        a.portrait(href='/films/celebrity/890259', target='_blank')
                          img.default-img(alt='', src='http://p0.meituan.net/movie/9af20cc1ca7ffad2e4f44af5972105fc15044.jpg@128w_170h_1e_1c')
                        .info
                          a.name(href='/films/celebrity/890259', target='_blank')
                            | 芭芭拉·穆斯什蒂
                                  span.name 鹿酥酥
                                  span.tag 购
                                .time(title='2017-05-27 11:55:04')
                                  span(title='2017-05-27 11:55:04') 05-27
                                  //- ul.score-star.clearfix(data-score='10')
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                  //-   li
                                  //-     i.half-star.left.active
                                  //-     i.half-star.right.active
                                .approve(data-id='107321263')
                                  i.approve-icon(data-act='comment-approve-click')
                                  span.num 3472
                              .comment-content
                                | 加勒比这个系列到现在14年了，距离上一部还是六年前，时隔六年我终于拿着这张票再次登上杰克船长的黑珍珠，想想那会儿看的时候还是毛孩子现在都工作了，船长还是那个船长，还是很帅，别人家的人娃儿都在一块儿了，我船长还自己飘呢，希望等出6的时候我船长去赴约然后也有伴儿了，今天才知道他身上的东西全都是他第一批船员上的贡，有心了我船长。扬帆起航，致敬船长，致敬青春。顺便说一句，年轻的船长真他妈的帅！

                    a.comment-entry(data-act='comment-no-content-click') 写短评
              #tab-celebrity.tab-celebrity.tab-content(data-val="{tabtype:'celebrity'}")
                input#tab-celebrity-hidden(type='hidden' value='#{movie_description.actors}')
              .tab-award.tab-content(data-val="{tabtype:'award'}")
              #tab-img.tab-img.tab-content(data-val="{tabtype:'img'}")
                input#tab-img-hidden(type='hidden' value='#{movie_description.pictures}')
        .related
          .module
    //if IE 8
      script(src='//ms0.meituan.net/mywww/es5-shim.bbad933f.js')
    //if IE 8
      script(src='//ms0.meituan.net/mywww/es5-sham.d6ea26f4.js')
    script(src='//ms0.meituan.net/mywww/common.b7b6a947.js')
    script(src='//ms0.meituan.net/mywww/movie-detail.bca7b4c7.js')
